.el {
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
}
.el button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: center;
    text-align: center;
    border: none; 
    outline: none; 
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 800;
    -webkit-text-stroke: 0.5px black;
    background-color: rgb(182, 23, 23);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}
.el label{
    padding-left: 10px;
    display: block;
    width: calc(100% - 40px);
    white-space: pre-wrap;
}
.el input:checked + label{
    text-decoration: line-through;
}